body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.messages, .alerts {
    margin-bottom: 20px;
}

.messages textarea, .alerts textarea {
    width: 100%;
    margin-bottom: 10px;
}

.messages button, .alerts button {
    display: block;
    margin-top: 10px;
}
<<<<<<< HEAD

.intro{
    text-align: center;
}
=======
>>>>>>> ed8441dcfaf4fd1c8e7e75b1a7f3d03f14b4a83f
